@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222d3d;
  font-family: "Geo", sans-serif;
  color: #484848;
}

.App {
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

h1 {
  color: #43e8ac;
  font-size: 50px;
}

form {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

input {
  height: 30px;
  width: 240px;
}

button {
  border: none;
  background-color: #db3069;
  color: #ebfefc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 260px;
  padding: 20px;
  box-shadow: 3px 3px 2px 1px rgba(143, 255, 152, 0.791);
}

.delete-btn {
  cursor: pointer;
}
